# iLO5 credentials
ILO_USERNAME=admin
ILO_PASSWORD=your_ilo_password

# New Relic License Key
# Get from: https://one.newrelic.com/admin-portal/api-keys/home
NEW_RELIC_LICENSE_KEY=your_newrelic_license_key
